main.wialonb3.scoring.host = 194.28.112.5
main.wialonb3.scoring.port = 50189

main.terminal.tek.host = localhost
main.terminal.tek.port = 9093

main.terminal.cguard.host = localhost
main.terminal.cguard.port = 9091
main.wialonb3.cguard.host = localhost
main.wialonb3.cguard.port = 9092

main.terminal.ch2.host = localhost
main.terminal.ch2.port = 9094
main.terminal.ch2.correctterminalids = 867273021510339,867273021510461,867273021510552,867273021510610,867273021510792,867273021510909,867273021541706,867273021512830,867273021514141,867273021514323,867273021514414,867273021515593,867273021515650,867273021515684,867273021516179,867273021516237,867273021516393,867273021516856,867273021517318,867273021517862,867273021517888,867273021518977,860719028547226,867273021514463

main.cityguide.url = http://localhost:8080

main.position.checkinterval = 60
main.position.maxspeed = 80


; hibernate update structure
hibernate.hbm2ddl.auto=update

; hibernate recreate structure
hibernate.hbm2ddl.auto=create-drop


; HSQLDB in memory
jdbc.driverClassName=org.hsqldb.jdbcDriver
jdbc.url=jdbc:hsqldb:mem:tb2014
jdbc.username=sa
jdbc.password=
hibernate.dialect=org.hibernate.dialect.HSQLDialect
hibernate.show_sql=true
hibernate.hbm2ddl.auto=create-drop

; HSQLDB on disk
jdbc.driverClassName=org.hsqldb.jdbcDriver
jdbc.url=jdbc:hsqldb:file:D:/db_data/hsqldb/tb2014/tb2014
jdbc.username=sa
jdbc.password=
hibernate.dialect=org.hibernate.dialect.HSQLDialect
hibernate.show_sql=true
hibernate.hbm2ddl.auto=create-drop


; POSTGRES
jdbc.driverClassName=org.postgresql.Driver
jdbc.url=jdbc:postgresql://localhost:5432/tb2014
jdbc.username=tb2014
jdbc.password=tb2014
hibernate.dialect=org.hibernate.dialect.PostgreSQL82Dialect
hibernate.show_sql=true
hibernate.hbm2ddl.auto=create-drop

; MYSQL
jdbc.driverClassName=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://195.206.252.78:3306/tb2014
jdbc.username=scoring
jdbc.password=
hibernate.dialect=org.hibernate.dialect.MySQLDialect
hibernate.show_sql=false
hibernate.hbm2ddl.auto=create-drop

; munic in postgres
jdbc.driverClassName=org.postgresql.Driver
jdbc.url=jdbc:postgresql://localhost:5432/munic
jdbc.username=munic
jdbc.password=munic
hibernate.dialect=org.hibernate.dialect.PostgreSQL82Dialect
hibernate.show_sql=false
hibernate.hbm2ddl.auto=update
;hibernate.hbm2ddl.auto=create-drop


